

@font-face {
    src: url("eyas2.ttf");
    src: url("njood.otf");
    font-family:'eyas2';

}
body {
    background-color: rgba(237, 236, 231, 0.94);
    font-family: njood;
}
.flash_massage {
    text-align: center; padding: 7px
}
.table >th {
    font-size: 10pt;
}
.center-content td,th {
    text-align: center;
}
.input_number{

    height: 1%;
    margin-right: 1%;
    margin-top: -2%;
    width: 4%;
    text-align: center;
    color: #2b2e2f;
    background: #f4fafd;
    border: 0px;
}
.number_column{
    width: 50%;
    text-align: center;
    border: 0px;
    background: #f6f6f6;
}
.table>tbody>tr>td{
    padding: 2px;
}

.f_number {
    margin-right: 21%;
}

.margin-SidBar{
    margin-left:-12% !important;
}
.btn-group bootstrap-select{
    width: 100%;
}
.width_col6_right{
    width: 69%;
}
.margin_col_6{
    margin-left: 23%;
}
.pagination{
    margin-right: 41%;
}
.size_image {
    height: 34px ;
    width: 38%;
    background: red;
}

.page-header {
    padding-bottom: 0px;
    margin: 5px 0 12px;
    border-bottom: 1px solid #eee;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 135px;
}


.background-container{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 12px;
    padding: 3%;
}
.main-title{
    background-color: rgba(208, 206, 194, 0.88);
    padding:1.5%;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
    margin-top:8px;
    margin-bottom: 10%;
}

.title_result_search{
    background-color: rgba(208, 206, 194, 0.73);
    padding: 1.5%;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: -4px;
}
.navbar-header {
    float: left;
}
.btn-group bootstrap-select {
    width: 123px;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
td input {
    width: 95px;
}


.navbar-bootsnipp {
    background-color: rgb(255, 255, 255);
    border-color: rgb(167, 138, 87);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
}

.navbar-bootsnipp.affix-top {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar-bootsnipp.affix {
    top: 0px;
    width: 100%;
}
.navbar-bootsnipp .navbar-toggle .icon-bar {
    background-color: rgb(167, 138, 87);
}

.navbar-bootsnipp .navbar-brand {
    color: rgb(167, 138, 87);
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-bootsnipp .navbar-nav > li > a {
    border: 0px solid rgb(167, 138, 87);
    color: rgb(120, 120, 120);
    padding: 15px 14px;
}

.navbar-bootsnipp .navbar-nav > li > a {
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:hover,
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:focus {
    border-bottom-width: 5px;
    border-left-width: 0px;
    padding-bottom: 10px;
    padding-left: 14px;
}



.navbar p {
    text-align: center;

}
.navbar-text{
    float: none !important;
    background-color:#ececec;
    padding: 19px;
    margin: 0;
}

#row-section{
    padding-top:5%;
    text-align: center;
    background-color: rgb(239, 239, 239);;
    padding-bottom:5%;

}
#contact-text{
    font-family:eyas2;
    font-size:2em;
}

.back-login{

    background-image: url('../images/211840-674x450-Tailor-cutting-fabric.jpg');


    background-size:100% 100%;
    height: 800px;
}

.back-login2{

    background-color: rgba(8, 7, 7, 0.39);
    background-size: 100%;
    height: 800px;
}
.table-responsive table .form-control {
    width: 100px;
}
.image-circular{
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 15px;
    position: relative;
    display: block;
    top: 170px;
    z-index: 2;
    background: #fff;
    background-image: url('../images/logoman.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page-header {
    padding-bottom: 0px;
    margin: 5px 0 12px;
    border-bottom: 1px solid #eee;
}
.btn-print{
    margin-right: 87%;
    margin-bottom: 2%;
    margin-top: -7%;
}
.size_image {
    height: 34px;
    width: 38%;
    margin-bottom: 10%;
}

.add_box{
    margin-right: -9%;
}
.panel_detail_order{
    width: 750px;
    margin-right: -92px;
}
.deleter_box{
    margin-top: -7%;
    float: left;
}
#add-button{
    margin-right: -16%;
    margin-bottom: 1%;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 213px;

}
.login-form{
    border: 3px solid #fcf8ff;
    position: relative;
    max-width:500px;
    margin: 0 auto;
    background: linear-gradient(to bottom,#fff 0%,#e7ecf0 100%);
    margin-top: 10%;
    border-radius: 3%;
}


.inbox .inbox-menu ul {
    margin-top: 30px;
    padding: 0;
    list-style: none
}

.inbox .inbox-menu ul li {
    height: 30px;
    padding: 5px 15px;
    position: relative
}

.inbox .inbox-menu ul li:hover,
.inbox .inbox-menu ul li.active {
    background: #e4e5e6
}

.inbox .inbox-menu ul li.title {
    margin: 20px 0 -5px 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #d1d4d7
}

.inbox .inbox-menu ul li.title:hover {
    background: 0 0
}

.inbox .inbox-menu ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #3d3f42
}
#back_bill{
    background-image:url('("../images/k.png")');
    border-radius: 7%;
    margin-bottom: 2%;
}
.inbox .inbox-menu ul li a i {
    margin-right: 10px
}

.inbox .inbox-menu ul li a .label {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    min-width: 14px;
    height: 14px;
    padding: 2px
}

.inbox .contacts ul {
    margin-top: 30px;
    padding: 0;
    list-style: none
}

.inbox .contacts ul li {
    height: 30px;
    padding: 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    position: relative;
    cursor: pointer
}

.inbox .contacts ul li .label {
    display: inline-block;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0 5px 2px 0
}

.inbox .contacts ul li:hover {
    background: #e4e5e6
}
th{
    color:rgba(75, 121, 169, 0.75);
}

.table {
    background-color: rgba(236, 235, 235, 0.45);
}
.info_order{
    width: 750px;
    margin-right: -92px;
}
.read_only{
   pointer-events: none;
}
.heading_order{
    background-color: #d8eef7;
}

.btn-circle {
    width: 68px;
    height: 28px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    border-radius: 8px;
}
.contentForm {
    background-color: rgba(238, 237, 232, 0.82);
    padding: 3%;
}
.filterable {
    margin-top: 15px;
}
.filterable .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.panel_info_bill{
    width: 700px;margin-right: -92px;
}
#titleInOrder{
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    color: #1f648b;
    background: rgba(217, 237, 247, 0.32);

}

@media only screen and (max-device-width: 736px) {
    .navbar-bootsnipp .navbar-brand {
        font-size: 20px;
        height: auto;
        padding: 15px 5px;
    }
    #contact-text{
        font-family:'eyas2';
          font-size: 20px !important;
    }
    .margi-top-mobile{
        margin-top: 5%;
    }
    .img-responsive{
      max-width: 104%!important;
    }
}
